### General ###
target/
!.mvn/wrapper/maven-wrapper.jar

### Sonarlint ###
ws-apache-kafka/kafka-beginners-course/.idea/sonarlint/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Classes compiladas ###
*.class
ws-aws-certified-cloud-practitioner-new/new_user_credentials.csv
*.opus
ws-master-the-coding-interview-data-structures-algorithms/data-structures/.gradle/checksums/**
ws-master-the-coding-interview-data-structures-algorithms/data-structures/.gradle/**

### Full-Stack Angular Spring Boot Tutorial ###
ws-full-stack-angular-spring-boot-tutorial/typescrypt-training/node_modules/

### Master the Coding Interview: Data Structures + Algorithms ###
ws-master-the-coding-interview-data-structures-algorithms/data-structures/build/libs/data-structures-1.0-SNAPSHOT.jar
ws-master-the-coding-interview-data-structures-algorithms/data-structures/build/tmp/jar/MANIFEST.MF
ws-master-the-coding-interview-data-structures-algorithms/data-structures/src/main/java/challenges/**
